#canvas {
  margin: auto;
  height: 1000px;
  width:1000px;
  outline: 1px solid black;
  position: relative;
  background: url('assets/Backdrop/SpaceBackdrop.png');
}
#spaceman {
  position: absolute;
  height: 60px;
  width: 40px;
  background: url('assets/SpaceMan/MiddlemanGif.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
